<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Join.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8C31A92A1ECF9499002BDD6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C31A93E1ECF9499002BDD6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C31A9491ECF9499002BDD6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
